[build]
target = "thumbv7em-none-eabihf"

[target.thumbv7em-none-eabihf]
runner = "npx --yes -- nwlink@latest install-nwa"
rustflags = ["-C", "link-arg=--relocatable", "-C", "link-arg=-no-gc-sections"]
